<ion-view title="Set Market Sense">
    <!--<h3>instrument={{$stateParams.instrumentToTrack}}</h3>-->
    <ion-content>
        <div class="card">
            <div class="item item-text-wrap">
                <h1>{{$stateParams.instrumentToTrack.displayName}}</h1><span class="item-note"> <h1>{{ask}}</h1></span>
            </div>
        </div>

        <div class="market_sense_padding">
            <h2>Set alert sensitivity</h2>
            <div class="item range range-positive no_border">
                <br>
                <input type="range" name="volume" min="0" max="1" value={{sense}} step="0.1" ng-model="sense"> {{sense}}
            </div>
        </div>

        <div class="row col text-center">
            <button class="button button-royal" ng-click="submit($stateParams.instrumentToTrack, sense)">
                <i class="ion-android-done">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Submit</i>
            </button>
        </div>
    </ion-content>
</ion-view>
